/* Style global */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  color: #333;
  margin: 0;
  text-align: center;
}

/* Header */
header {
  background: #cca300;
  color: white;
  padding: 20px;
}

/* Image */
img {
  border-radius: 50%; /* cercle */
  display: block;
  margin: 20px auto;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2); /* ombre douce */
}

/* Texte */
main {
  padding: 40px 20px;
  font-size: 1.2em;
}

/* Footer */
footer {
  background: #333;
  color: white;
  padding: 15px;
}

